{% from 'macro/form.twig' import checked, selected %}

{{ header('Browse Torrents', {'js': 'browse'}) }}
<div class="thin widethin">
<div class="header">
    <h2>Torrents</h2>
</div>
<form class="search_form" name="torrents" method="get" action="" onsubmit="$(this).disableUnset();">
<div class="box filter_torrents">
    <div class="head">
        <span style="float: right;">
{% if not show_search %}
    {% if viewer.permitted('site_advanced_search') %}
            <a id="ft_type" href="#" class="brackets tooltip hidden" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch('{{ search_toggle }}');">Switch to {{ search_toggle }}</a>
    {% endif %}
            <a href="#" id="ft_toggle" class="brackets tooltip" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch(0);">Show search form</a>
{% else %}
    {% if viewer.permitted('site_advanced_search') %}
            <a id="ft_type" href="#" class="brackets tooltip" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch('{{ search_toggle }}');">Switch to {{ search_toggle }}</a>
    {% endif %}
            <a href="#" id="ft_toggle" class="brackets tooltip" title="The default behaviour here can be specified in your settings" onclick="return toggleTorrentSearch(0);">Hide search form</a>
{% endif %}</span>&nbsp;
    </div>

    <div id="ft_container" class="pad{% if not show_search %} hidden{% endif %}">
    <table class="layout">
        <tr id="groupname" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Torrent name:</td>
            <td colspan="3" class="ft_groupname">
                <input type="search" spellcheck="false" size="40" name="groupname" class="inputtext smaller fti_advanced" value="{{ input.groupname }}" />
            </td>
        </tr>
        <tr id="version" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Version:</td>
            <td colspan="3" class="ft_version">
                <input type="search" spellcheck="false" size="40" name="version" class="inputtext smaller fti_advanced" value="{{ input.version }}" />
            </td>
        </tr>
        <tr id="platform" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Platform:</td>
            <td colspan="3" class="ft_platform">
                <select name="platform" class="ft_platform fti_advanced">
                    <option value=""></option>
{% for id, name in release_platform %}
                    <option value="{{ name }}"{{ selected(name == input.platform) }}>{{ name }}</option>
{% endfor %}
                </select>
            </td>
        </tr>
        <tr id="includes" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Includes:</td>
            <td colspan="3" class="ft_includes">
                <select name="includes" class="ft_includes fti_advanced">
                    <option value=""></option>
{% for id, name in release_includes %}
                    <option value="{{ name }}"{{ selected(name == input.includes) }}>{{ name }}</option>
{% endfor %}
                </select>
            </td>
        </tr>
        <tr id="osversion" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">OS Version:</td>
            <td colspan="3" class="ft_osversion">
                <input type="search" spellcheck="false" size="40" name="osversion" class="inputtext smaller fti_advanced" value="{{ input.osversion }}" />
            </td>
        </tr>
        <tr id="processor" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Processor:</td>
            <td colspan="3" class="ft_processor">
                <input type="search" spellcheck="false" size="40" name="processor" class="inputtext smaller fti_advanced" value="{{ input.processor }}" />
            </td>
        </tr>
        <tr id="ram" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">Ram:</td>
            <td colspan="3" class="ft_ram">
                <input type="search" spellcheck="false" size="40" name="ram" class="inputtext smaller fti_advanced" value="{{ input.ram }}" />
            </td>
        </tr>
        <tr id="vram" class="ftr_advanced{{ hide_advanced }}">
            <td class="label">VRam:</td>
            <td colspan="3" class="ft_vram">
                <input type="search" spellcheck="false" size="40" name="vram" class="inputtext smaller fti_advanced" value="{{ input.vram }}" />
            </td>
        </tr>
        <tr id="search_terms" class="ftr_basic{% if search_plus %} hidden{% endif %}">
            <td class="label">Search terms:</td>
            <td colspan="3" class="ftb_searchstr">
                <input type="search" spellcheck="false" size="40" name="searchstr" class="inputtext fti_basic" value="{{ input.searchstr }}" />
            </td>
        </tr>
        <tr id="tagfilter">
            <td class="label"><span title="Use !tag to exclude tag" class="tooltip">Tags (comma-separated):</span></td>
            <td colspan="3" class="ft_taglist">
                <select id="genre_tags" name="genre_tags" onchange="add_tag();">
                    <option></option>
{% for id, name in release_tags %}
                    <option value="{{ name }}">{{ name }}</option>
{% endfor %}
                </select>
                <input type="search" size="40" id="tags" name="taglist" class="inputtext smaller" value="{{
                    tag_list }}" />&nbsp;
                <input type="button" onclick="clear_tag()" value="Clean tags" title="Clean tags">
                <input type="radio" name="tags_type" id="tags_type0" value="0"{{ checked(input.tags_type == 0) }} /><label for="tags_type0"> Any</label>&nbsp;&nbsp;
                <input type="radio" name="tags_type" id="tags_type1" value="1"{{ checked(input.tags_type == 1) }} /><label for="tags_type1"> All</label>
            </td>
        </tr>
        <tr id="freetorrent">
            <td class="label">Leech type:</td>
            <td colspan="3" class="ft_order">
                <select name="freetorrent" style="width: auto;" class="ft_order_by">
                    <option value="0" {{ selected(input.freetorrent == '0') }}>Any</option>
                    <option value="1" {{ selected(input.freetorrent == '1') }}>Free</option>
                    <option value="2" {{ selected(input.freetorrent == '2') }}>Neutral</option>
                </select>
            </td>
        </tr>
        <tr id="order">
            <td class="label">Order by:</td>
            <td colspan="3" class="ft_order">
                <select name="order" style="width: auto;" class="ft_order_by">
                    <option value="time"{{ selected(input.order == 'time') }}>Time added</option>
                    <option value="size"{{ selected(input.order == 'size') }}>Size</option>
                    <option value="snatched"{{ selected(input.order == 'snatched') }}>Snatched</option>
                    <option value="seeders"{{ selected(input.order == 'seeders') }}>Seeders</option>
                    <option value="leechers"{{ selected(input.order == 'leechers') }}>Leechers</option>
                    <option value="random"{{ selected(input.order == 'random') }}>Random</option>
                </select>
                <select name="sort" class="ft_order_way">
                    <option value="desc"{{ selected(input.sort == 'desc') }}>Descending</option>
                    <option value="asc"{{ selected(input.sort == 'asc') }}>Ascending</option>
                </select>
            </td>
        </tr>
        <tr id="search_group_results">
            <td class="label">
                <label for="group_results">Group by release:</label>
            </td>
            <td colspan="3" class="ft_group_results">
                <input type="checkbox" value="1" name="group_results" id="group_results"{{ checked(grouped) }} />
            </td>
        </tr>
    </table>

    <table class="layout cat_list ft_cat_list">
        <tr>
{% for key, name in constant('CATEGORY') %}
            <td style="width:{{ (100 / constant('CATEGORY')|length)|round(1) }}%; padding-left: 1.6em; text-indent:-1.6em">
                <input type="checkbox" name="filter_cat[{{ key + 1 }}]" id="cat_{{ key + 1 }}" value="1"{{ checked(input.filter_cat[key + 1]) }} />
                <label for="cat_{{ key + 1 }}" style="cursor: pointer;">{{ name }}</label>
            </td>
{% endfor %}
        </tr>
    </table>
    <!--
    <table class="layout cat_list" width="100%">
        <tr>
            <td>
                <a class="brackets" href="random.php?action=torrent">Random Torrent</a>
                <a class="brackets" href="random.php?action=artist">Random Artist</a>
            </td>
            <td class="label">
            </td>
        </tr>
    </table>
    -->
    <br />
    <div class="submit ft_submit">
        &nbsp;&nbsp;<input type="submit" value="Filter torrents" />
        <input type="hidden" name="action" id="ft_type_action" value="{{ input.action }}" />
        <input type="hidden" name="searchsubmit" value="1" />
        <input type="button" value="Reset" onclick="location.href = 'torrents.php'" />
        &nbsp;&nbsp;
{% if filtered %}
        <input type="submit" name="setdefault" value="Make default" />
{% endif %}
{% if viewer.option('DefaultSearch') %}
        <input type="submit" name="cleardefault" value="Clear default" />
{% endif %}
        <span style="line-height: 32px; margin-left: 10px;"><b>{{ results_total|number_format }} Result{{ results_total|plural }}</b>
{% if results_total > results_shown and not viewer.permitted('site_search_many') %} (Showing first {{ results_shown|number_format }}  matches){% endif %}
        </span>
    </div>
</div>
</div>
</form>

