{% from 'macro/form.twig' import checked, selected %}
{{ header('Edit torrent group "' ~ tgroup.name ~ '"') }}
<div class="thin">
    <div class="header">
        <h2>Edit <a href="torrents.php?id={{ tgroup.id }}">{{ tgroup.name }}</a></h2>
    </div>
    <div class="box pad">
        <form class="edit_form" name="torrent_group" action="torrents.php" method="post">
            <div>
                <input type="hidden" name="action" value="takegroupedit" />
                <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                <input type="hidden" name="groupid" value="{{ tgroup.id }}" />
                <h3>Category:</h3>
                <select id="categories" name="type" {% if not viewer.permitted('torrents_edit') %} disabled="disabled" {% endif %}>
{%- for name in constant('CATEGORY') %}
                    <option value="{{ loop.index0 }}"{{ selected(name == tgroup.categoryName) }}>{{ name }}</option>
{%- endfor %}
                </select>
                <h3>Tags:</h3>
                <select id="genre_tags" name="genre_tags" onchange="add_tag();"<?=$this->Disabled?>>
                    <option></option>
{% for key, value in release_tags %}
                    <option value="{{ value }}">{{ value }}</option>
{% endfor %}
                </select>
                <input type="text" id="tags" name="tags" size="40" value="{{ tgroup.tags }}" data-gazelle-autocomplete="true"' />
                <input type="button" onclick="clear_tag()" value="Clean tags" title="Clean tags">
                <script>
                    function add_tag() {
                        if ($('#tags').raw().value == "") {
                            $('#tags').raw().value = $('#genre_tags').raw().options[$('#genre_tags').raw().selectedIndex].value;
                        } else if ($('#genre_tags').raw().options[$('#genre_tags').raw().selectedIndex].value === '---') {
                        } else {
                            $('#tags').raw().value = $('#tags').raw().value + ', ' + $('#genre_tags').raw().options[$('#genre_tags').raw().selectedIndex].value;
                        }
                    }
                    function clear_tag() {
                        $('#tags').raw().value = "";
                    }
                </script>
                <h3>Image:</h3>
                <input type="text" name="image" size="92" value="{{ tgroup.image }}" /><br />
{% if constant('IMAGE_HOST_BANNED') %}
                <br /><b>Images hosted on <strong class="important_text">{{ constant('IMAGE_HOST_BANNED')|join(', ') }}
                    are not allowed</strong>, please rehost first on one of {{ constant('IMAGE_HOST_RECOMMENDED')|join(', ') }}.</b>
{% endif %}
                <br />Or if the release has no known official artwork (e.g. jam band live recording), check the following:<br />
                <label><input type="checkbox" name="no_cover_art" value="1"{{ checked(tgroup.noCoverArt) }} /> No release cover art</label><br /><br />

                <h3>Torrent group description:</h3>
                {{ body.emit|raw }}

                <h3>Edit summary:</h3>
                <input type="text" name="summary" size="92" /><br><br>
                <div style="text-align: center;">
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>

{% if viewer.permitted('torrents_edit') %}
    <h3>Rename (will not merge)</h3>
    <div class="box pad">
        <form class="rename_form" name="torrent_group" action="torrents.php" method="post">
            <div>
                <input type="hidden" name="action" value="rename" />
                <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                <input type="hidden" name="groupid" value="{{ tgroup.id }}" />
                <input type="text" name="name" size="92" value="{{ tgroup.name }}" /><br><br>                
                <div style="text-align: center;">
                    <input type="submit" value="Rename" />
                </div>
            </div>
        </form>
    </div>
    <h3>Merge with another group</h3>
    <div class="box pad">
        <form class="merge_form" name="torrent_group" action="torrents.php" method="post">
            <div>
                <input type="hidden" name="action" value="merge" />
                <input type="hidden" name="auth" value="{{ viewer.auth }}" />
                <input type="hidden" name="groupid" value="{{ tgroup.id }}" />
                <div><br>
                    Select an existing group to autocomplete group id:<br>
                    <input type="text" id="title_search_groupid" size="60" /><br><br>
                    <h3>Target torrent group ID: </h3>
                    <input type="text" id="changegroupid" name="targetgroupid" value="" size="10" />
                </div><br>
                <div style="text-align: center;">
                    <input type="submit" value="Merge" />
                </div>
            </div>
        </form>
    </div>
    <script>
        var TORRENTS_AUTOCOMPLETE_UPLOAD_URL    = 'torrents.php?action=autocomplete_upload';
        $('#title_search_groupid').autocomplete({
            deferRequestBy: 300,
            onSelect : function(suggestion) {
                $("#changegroupid").val(suggestion['id']);
            },
            serviceUrl : TORRENTS_AUTOCOMPLETE_UPLOAD_URL,
        });
    </script>
{% endif %}
</div>
{{ footer() }}
